section#show-campsite-section {
  td {
    .table--icon {
      min-width: 25px;
      width: 100%;
      max-width: 50px;
      padding-bottom: 8px;
    }
    p {
      margin: 0px;
    }
  }

  .smaller-font {
    font-size: 22px;
  }

  .legend {
    img {
      height: 30px;
    }
    margin-top: 26px;
    margin-bottom: 15px;
  }
}