section#show-campsite-section {
  .smaller-font {
    font-size: 22px;
  }

  .legend {
    img {
      height: 30px;
    }
    margin-top: 26px;
    margin-bottom: 15px;
  }
}

section#section-my-campsite {
  .tab-content {
    .icon-edit {
      img {
        max-width: 25px;
      }
    }
  }
}