section#home-intro {

  .image {
    &--home {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
      }
    }
  }

  .section--centered {
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    position: relative;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;

    h3 {
      font-weight: 300;
    }
  }
}

section#top-campsites-section {
  .card {
    border-radius: 5px;
    background: white;

    &--img {
      height: 250px;
      img {
        object-fit: cover;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    &--info {
      padding: 20px;
      height: 100%;

      p {
        font-size: 12px;
        color: $brand-light-grey;
        margin: 0px;
      }

      h3 {
        font-size: 20px;
        margin-top: 0px;
        color: $brand-secundary;
      }
    }
  }
}

section#why-use-service {
  h3 {
    font-size: 16px;
  }
  .icon {
    img {
      width: 40%;
    }
  }
}

section#new-offer-campsite {
  min-height: 500px;

  h2 {
    color: #cbcbcb;
    font-size: 28px;
    line-height: 120%;
    font-weight: 300;
  }
}