section#search-campsite-section {

  .panel.no-bg {
    background-color: transparent;
    box-shadow: none;
  }

  .whitebg {
    background-clip:content-box;
    background-color: white;
  }

  .results {

    .result {

      height: 260px;
      border-bottom: 2px solid $brand-light-grey;

      &__image {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          object-fit: cover;
          height: 100%;
          max-height: 260px;
          min-height: 260px;
          object-position: 50%;
        }
      }

      &__info {
        height: 100%;
        padding-right: 15px;

        p {
          margin-bottom: 0px;
        }

        &--address {
          margin: 0px;
          padding-top: 15px;
          padding-bottom: 0px;
          font-size: 12px;
          color: $brand-light-grey;
        }
        &--name {
          margin: 0px;
          padding-top: 5px;
          padding-bottom: 10px;
          font-size: 20px;
          color: $brand-secundary;
        }

        .left-positioned {
          position: absolute;
          bottom: 15px;
          left: 15px;
        }
        .icon--wrapper {
          max-width: 50px;

          &.right-positioned {
            position: absolute;
            right: 30px;
            bottom: 15px;
          }
          img {
            width: 100%;
          }
        }

        .icon--small {
          max-width: 30px;
          float: left;
          padding-top: 5px;
          margin-right: 15px;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .search {
    margin: 15px;

    &--block {
      padding: 15px;

      &.greybg {
        background: #d8d8d8;
      }

    }

    label {
      color: $brand-secundary;
    }

  }

  @media screen and (min-width: 1200px) {
    .result {

      height: auto !important;

      &__image {

        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .result {

      height: auto !important;

      &__image {

        img {
          width: 100%;
        }
      }

      &__info {
        padding: 5px 15px;
      }
    }
  }

  @media screen and (min-width: 767px) {
    .result {
      .wrapper {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .no-right-padding {
      padding-right: 0;
    }
  }
}