section.main {
  position: relative;
  background: linear-gradient(rgba(17, 33, 49, 0.9), rgba(17, 33, 49, 0.9)), url('/assets/img/bg/campsite-bg-1.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.campsite-offer {
  position: relative;
  background: linear-gradient(rgba(17, 33, 49, 0.9), rgba(17, 33, 49, 0.9)), url('/assets/img/bg/campsite-bg-2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section#offer-campsite-section {
  .image--wrapper {
    position: relative;
    background: url('/assets/img/bg/campsite-signs-1.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height:250px;
    overflow: hidden;
  }
}

.bg {
  height: 100%;

  &--transparent {
    background: rgba(255,255,255,0.5);
    border-radius: 3px;
  }

  &--color {
    &__main {
      background: $brand-primary;
    }
    &__white {
      background: white;
    }
  }
}