button {
  transition: all 0.3s ease 0s;
  min-height: 40px;
  border-radius: 3px;
}

.btn-main {
  background: $brand-primary;
  color: white;

  &:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
  }
}

.btn-secundary {
  background: $brand-primary;
  color: white;

  &:hover {
    background: transparent;
    color: $brand-primary;
    border: 1px solid $brand-primary;
  }
}

.btn-tertiary {
  background: transparent;
  color: $brand-secundary;
  border: 2px solid $brand-light-grey;
  padding: 10px 25px;
}

.btn-transparent {
  border: 1px solid white;
  background: transparent;
  color: white;

  &:hover {
    color: $brand-primary;
    background: white;
  }
}