h1, h2, h3, h4, p {
  &.font {
    &--bold { font-weight: 600; }
  }
  &.color-white {
    color: white;
  }
  &.color-primary {
    color: $brand-primary;
  }
  &.color-secundary {
    color: $brand-secundary;
  }
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

hr {
  border: none;
  height: 2px;

  &.color-white {
    color: white;
    background-color: white;
  }
  &.color-primary {
    color: $brand-primary;
    background-color: $brand-primary;
  }
  &.color-secundary {
    color: $brand-secundary;
    background-color: $brand-secundary;
  }

  &.w-20 {
    width: 20%;

    &--p {
      width: 20px;
    }
  }
  &.w-50 {
    width: 50%;
  }
}
