input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
  border: solid $brand-danger 1px;
}

input.ng-valid.ng-dirty, select.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
  border: solid $brand-success 1px;
}

.validation-invalid{
  color: $brand-danger;
}
