<form name="campsite-basic-information">
    <h2>Basic information</h2>

    <div class="form-group">
        <label for="placename"><strong>Place name</strong></label>
        <input ng-model="offer.state.campsitetosend.placename" class="form-control" id="placename" type="text" name="placename">
    </div>

    <div class="form-group">
        <label for="address"><strong>Address</strong></label>
        <input ng-model="offer.state.campsitetosend.address" class="form-control" id="address" type="text" name="address">
    </div>

    <div class="form-group">
        <label for="description"><strong>Description</strong></label>
        <textarea ng-model="offer.state.campsitetosend.description" class="form-control" id="description" type="text" name="description"></textarea>
    </div>

    <div class="form-group">
        <label for="price"><strong>Price per night</strong></label>
        <input ng-model="offer.state.campsitetosend.price" class="form-control" id="price" type="number" name="price">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-secundary p-l-25 p-r-25" data-ng-click="offer.events.updateCampsiteData(1)">
            Next
        </button>
    </div>
</form>